menu "BLE Connection Parameters Module"

config LIBREWATCH_BT_CONN_PARAMS
    bool "Enable BLE Connection Paramters module"
    depends on CAF_BLE_STATE
    help
        This module updates the BLE connection parameters.

if LIBREWATCH_BT_CONN_PARAMS

config LIBREWATCH_BT_CONN_PARAMS_INT_MIN
    int "Minimum connection interval (N * 1.25 milliseconds)"
    range 12 3200
    default 24 # 30 ms

config LIBREWATCH_BT_CONN_PARAMS_INT_MAX
    int "Maximum connection interval (N * 1.25 milliseconds)"
    range 12 3200
    default 48 # 60 ms

config LIBREWATCH_BT_CONN_PARAMS_LATENCY
    int "Slave latency"
    range 0 30
    default 0

config LIBREWATCH_BT_CONN_PARAMS_TIMEOUT
    int "Supervision timeout (N * 10 milliseconds)"
    range 200 600
    default 400 # 4000 ms

module = LIBREWATCH_BT_CONN_PARAMS
module-str = bt_conn_params
source "subsys/logging/Kconfig.template.log_config"

endif

endmenu
