menu "Passkey module"

config LIBREWATCH_PASSKEY
    bool "Enable passkey module"
    depends on CAF
    depends on CAF_BLE_STATE
    help
      This module propagates ble passkey display information.

if LIBREWATCH_PASSKEY

module = LIBREWATCH_PASSKEY
module-str = passkey
source "subsys/logging/Kconfig.template.log_config"

endif

endmenu
