rsource "Kconfig.cts"
rsource "Kconfig.ams"
rsource "Kconfig.ancs"
rsource "Kconfig.passkey"
rsource "Kconfig.sensors"
rsource "Kconfig.discovery"
rsource "Kconfig.dfu"
rsource "Kconfig.bt_conn_params"
