menu "Passkey module"

config SMARTWATCH_PASSKEY
    bool "Enable passkey module"
    depends on CAF
    depends on CAF_BLE_STATE
    help
      This module propagates ble passkey display information.

if SMARTWATCH_PASSKEY

module = SMARTWATCH_PASSKEY
module-str = passkey
source "subsys/logging/Kconfig.template.log_config"

endif

endmenu
