menu "ANCS"

config SMARTWATCH_ANCS
    bool "Enable Apple Notification Center Service module"
    depends on CAF
    depends on CAF_BLE_STATE
    depends on BT_ANCS_CLIENT

config SMARTWATCH_ANCS_MAX_TITLE_SIZE
    int "Maximum title size including NUL character"
    default 50
    range 32 512

config SMARTWATCH_ANCS_MAX_MESSAGE_SIZE
    int "Maximum message size including NUL character"
    default 100
    range 32 512

config SMARTWATCH_ANCS_MAX_NOTIFICATIONS
    int "Maximum number of active notifications"
    default 10
    range 1 20

if SMARTWATCH_ANCS

module = SMARTWATCH_ANCS
module-str = ancs
source "subsys/logging/Kconfig.template.log_config"

endif

endmenu
