menu "BLE Passkey"

config SMARTWATCH_BLE_PASSKEY
    bool "Enable BLE passkey module"
    depends on CAF
    depends on CAF_BLE_STATE
    depends on SMARTWATCH_PASSKEY_EVENT
    help
      This module propagates ble passkey display information.

if SMARTWATCH_BLE_PASSKEY

module = SMARTWATCH_BLE_PASSKEY
module-str = ble_passkey
source "subsys/logging/Kconfig.template.log_config"

endif

endmenu
