/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>
#include "nrf52840_smartwatch-pinctrl.dtsi"

/ {
    model = "nRF52840 SmartWatch";
    compatible = "seenemikk,nrf52840-smartwatch";

    chosen {
        zephyr,sram = &sram0;
        zephyr,flash = &flash0;
        zephyr,code-partition = &slot0_partition;
        zephyr,display = &gc9a01a;
        zephyr,keyboard_scan = &it7259;
    };
};

&adc {
    status = "okay";
};

&gpiote {
    status = "okay";
};

&gpio0 {
    status = "okay";
};

&gpio1 {
    status = "okay";
};

&i2c0 {
    compatible = "nordic,nrf-twim";
    status = "okay";
    pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";

    // Touch sensor
    it7259: it7259@46 {
        compatible = "ite,it7259";
        reg = <0x46>;
        label = "IT7259";

        reset-gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;
        int-gpios = <&gpio0 29 GPIO_ACTIVE_LOW>;
    };
};

// IMU
&i2c1 {
    compatible = "nordic,nrf-twim";
    status = "okay";
    pinctrl-0 = <&i2c1_default>;
    pinctrl-1 = <&i2c1_sleep>;
    pinctrl-names = "default", "sleep";
};

&spi2 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    pinctrl-0 = <&spi2_default>;
    pinctrl-1 = <&spi2_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;

    // Display
    gc9a01a: gc9a01a@0 {
        compatible = "galaxycore,gc9a01a";
        reg = <0>;
        spi-max-frequency = <16000000>;
        label = "GC9A01A";

        reset-gpios = <&gpio1 15 GPIO_ACTIVE_LOW>;
        cmd-data-gpios = <&gpio0 20 GPIO_ACTIVE_LOW>;
        backlight-gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;
        height = <240>;
        width = <240>;
    };
};

&flash0 {

    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        boot_partition: partition@0 {
            label = "mcuboot";
            reg = <0x000000000 0x0000C000>;
        };
        slot0_partition: partition@c000 {
            label = "image-0";
            reg = <0x0000C000 0x00067000>;
        };
        slot1_partition: partition@73000 {
            label = "image-1";
            reg = <0x00073000 0x00067000>;
        };
        scratch_partition: partition@da000 {
            label = "image-scratch";
            reg = <0x000da000 0x0001e000>;
        };

        /*
         * The flash starting at 0x000f8000 and ending at
         * 0x000fffff is reserved for use by the application.
         */

        /*
         * Storage partition will be used by FCB/LittleFS/NVS
         * if enabled.
         */
        storage_partition: partition@f8000 {
            label = "storage";
            reg = <0x000f8000 0x00008000>;
        };
    };
};
