menu "Events"

config SMARTWATCH_PASSKEY_EVENT_INIT_LOG
    bool "Log passkey events"
    default y

config SMARTWATCH_UI_EVENT_INIT_LOG
    bool "Log UI events"
    default y

config SMARTWATCH_SENSORS_EVENT_INIT_LOG
    bool "Log sensors events"
    default y

config SMARTWATCH_MEDIA_EVENT_INIT_LOG
    bool "Log media player events"
    default y

endmenu
